</main>

<footer>
  <% if(locals.sene && locals.seconds){ %>
  <p> The Millseconds are : <%= seconds %> </p>
  <p>Copyright © <%= sene %></p>
  <%} else{ %>
    <h3>We will be Giving you the Year and the milliseconds soon</h3>
  <%}%>
</footer>
</body>

</html>